@font-face {
  font-family: "DS-Digital";
  src: local("DS-Digital"),
   url(@/assets/DS-Digital/DS-DIGI.TTF) format("truetype");
}

p{
  padding: 0;
  margin: 0;
  font-family: "DS-Digital";
}
h3{
  padding: 0;
  margin: 0;
  font-family: "Arial";
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'DS-Digital';
  color: black;
  padding-bottom: 20px;
}
.header__cur{
display: flex;
gap: 20px;
font-size: 25px;
}
.page__wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid;
  border-radius: 3px;
  /* opacity: 0.9; */
  background-color: rgba(232, 236, 241, 1);
  font-family: sans-serif;
}
select {
  color: white;
  font-family: sans-serif;
  border-radius: 3px;
  border: 1px solid darkblue;
  background-color: rgba(0, 0, 139, 0.809);
}
button {
  color: white;
  border-radius: 5px;
  font-family: sans-serif;
  border: 1px solid darkblue;
  background-color: darkblue;
}
button:hover {
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid darkblue;
  transform: scale(1.1);
  background-color: rgba(0, 0, 255, 0.291);
}
.pop{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__cur{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 15px;
  }
  &__curr{
    display: flex;
    flex-direction: column;
   width: 70px;
   gap: 7px;
  }
  &__p{
  padding:7px 0;
  }
}
.result {
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid darkblue;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  background-color: rgba(0, 0, 255, 0.291);
}
.cur{
  font-family: 'DS-Digital';
  color: red;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}
main{
  display: flex;
  gap: 15px;
}
.button1 {
  color: white;
  border-radius: 5px;
  font-family: sans-serif;
  position: relative;
  text-align: center;
  border: 2px solid darkblue;
  font-size: 13px;
  padding: 0 5px;
  color: red;
  cursor: pointer;
  border-radius: 5px;
}
.button1:hover {
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid darkblue;
  transform: scale(1.1);
  background-color: rgba(0, 0, 255, 0.291);
}
.button1:active {
  color: darkblue;
  background-color: #F7D832;
}

.modal-vue .modal {
  position: relative;
  max-width: 300px;
  z-index: 9999;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
}
.modal-vue .close{
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 375px) {
  header{
    max-width: 360px;
    margin: 0 auto;
 }
 .modal{
  max-width: 360px;
 }
 h3{
  font-size: 15px;
 }
}
